

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main{
    width: 100%;
    height: 100vh;
    background-color: rgb(92, 40, 40);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}
.form{
    width: 25%;
    height: 70vh;
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    gap: 10px;

}

.gender{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.gendertv{
    display: flex;
    flex-direction: column;
}

.country{
    display: flex;
    flex-direction: row;
}

.regist{
    display: flex;
    justify-content: center;
}

button{
    border-radius: 15%;
}
